$primary: #44a6f5;

.Hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-0.3.5&s=5fdcba5a9cd5865638cd2086f09f93ac&auto=format&fit=crop&w=1352&q=80")
      no-repeat center center / cover;
  // background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 20px;
  flex-direction: column;
  background-attachment: fixed;

  h1 {
    color: #fff;
    font-size: 4em;
    font-weight: 400;
    margin-bottom: 1vh;
    text-align: center;
    animation: name 1.5s ease;

    @keyframes name {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    span {
      font-weight: 600;
      color: $primary;
    }
  }

  h2 {
    color: #fff;
    font-size: 2em;
    font-weight: 400;
    margin: 1vh 0;
    letter-spacing: 0.3vw;
  }

  h3 {
    color: #fff;
    font-weight: 300;
    width: 60%;
    text-align: center;
    font-size: 1.2em;
    animation: text 1s forwards 0s ease-in-out;
  }

  @keyframes text {
    0% {
      transform: translateY(5000%);
    }
    100% {
      transform: translateY(0);
    }
  }
}
