.About {
  min-height: 60vh;
  max-height: auto;
  background: radial-gradient(#2ca2d3, #345af5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;

  h1 {
    font-weight: 400;
    font-size: 3em;
  }

  h3 {
    font-weight: 300;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .Icons {
    a {
      color: #fff;
      margin: 2vh 1vw;
      i {
        color: #fff;
      }
    }
  }

  h5 {
    font-weight: 400;
    border: 1px solid #fff;
    padding: 1vh 2vw;
    font-size: 2em;
  }
}
