.About {
  height: 60vh;
  background: url("https://images.unsplash.com/photo-1531693724259-4a7320a99b7a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1b4f80f982ae280490c60c316a22ef0f&auto=format&fit=crop&w=1350&q=80")
    no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
