$primary: #44a6f5;
$gradient1: #1db8e7;
$gradient2: #0be290;

.Projects {
  height: 1000px;
  padding-top: 5vh;
  background: #000;

  h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 5vh;
    font-weight: 300;

    span {
      font-weight: 700;
      color: $primary;
    }
  }

  .Categories {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 2vh auto 0;
    flex-wrap: wrap;

    h5 {
      margin: 1vh 0.8vw;
      border: 2px solid $primary;
      padding: 10px 30px;
      border-radius: 35px;
      cursor: pointer;
      color: #fff;
      font-weight: 400;

      &:hover {
        background: $primary;
      }
    }

    .Fill {
      background: $primary;
    }
  }
}

.ProjectsDiv {
  width: 80%;
  margin: 0 auto;
  height: 50%;
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  transition-duration: 1s;

  .Project {
    width: 30%;
    margin: 2vh 1.5%;
    height: 30vh;
    // box-shadow: 1px 15px 80px #8d8d8d;

    .Text {
      display: flex;
      flex-direction: column;
      color: #fff;
      opacity: 0;
      height: 100.5%;
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;

      &:hover {
        background: linear-gradient(45deg, $gradient1, $gradient2);
        opacity: 1;
        transition-duration: 0.5s;
      }
      h2 {
        font-weight: 400;
      }

      h3 {
        font-weight: 300;
        width: 90%;
        margin: 0 auto;
      }
      .options {
        display: flex;
        width: 60%;
        margin: 4vh 0;
        a {
          margin: 0 0.5vw;
          flex-grow: 1;

          text-decoration: none;
          color: #fff;
          width: 40%;
        }
        h5 {
          border: 2px solid #fff;
          line-height: 2.5;
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}
