.Home {
  height: 100%;
  background: #000;
}

@media screen and (max-width: 1170px) {
  .Hero h3 {
    width: 75%;
    line-height: 30px;
  }

  .About {
    height: 80vh;

    h3 {
      line-height: 30px;
    }
  }

  .Projects {
    min-height: 170vh;
  }

  .ProjectsDiv {
    width: 85%;
    height: 50%;

    .Project {
      width: 45%;
      margin: 2vh 2.5%;

      .Text .options {
        width: 80%;

        a {
          margin: 0 0.8vw;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Hero {
    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 1.5em;
    }

    h3 {
      width: 90%;
      font-size: 1em;
    }
  }

  .About {
    height: 100%;

    h5 {
      width: 70%;
      text-align: center;
      font-size: 1.5em;
    }

    .Icons {
      margin-bottom: 5vh;
    }
  }

  .Projects {
    min-height: 310vh;

    .Categories {
      width: 90%;
    }
  }

  .ProjectsDiv {
    width: 85%;

    .Project {
      width: 95%;
      margin: 2vh 2.5%;
      height: 35vh;

      .Text .options {
        width: 80%;

        a {
          margin: 0 2vw;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .Hero {
    height: 150vh;
  }
  .Projects {
    height: 100%;
    margin-top: -50vh;

    .Categories h5 {
      font-size: 0.7em;
      padding: 6px 16px;
    }
  }

  .About h3 {
    font-size: 1em;
    width: 95%;
  }
}
